###############################################################################
# NODE / REACT
###############################################################################
node_modules/
dist/
dist-ssr/
out/
release/

###############################################################################
# PYTHON
###############################################################################
.venv/
__pycache__/
*.pyc

###############################################################################
# DATA / MODELS / VIDEOS
###############################################################################
backend/data/
public/

*.mp4
*.MP4
*.avi
*.mov
*.pt

###############################################################################
# ENV
###############################################################################
.env
.env.*

###############################################################################
# OS / EDITOR
###############################################################################
.DS_Store
Thumbs.db
.vscode/
.idea/